<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.laptopConnectionString" connectionString="Data Source=XuanBinh\XUANBINH;Initial Catalog=laptop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DTO.Properties.Settings.laptopConnectionString1" connectionString="Data Source=XUANBINH\XUANBINH;Initial Catalog=laptop;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>